{
    "api" : {
        "is_release_mode": false
    },
    "mysql" : {
        "connection" : {
            "host": "52.82.55.145",
            "port": 3306,
            "username": "root",
            "password": "byt@mNB",
            "database": "federation"
        },
        "log_mode" : true
    },
"network":"testnet",

    "federation_prog" : "0020b04d17f22e04596a2f230fe777d1b5268f2092fd0399ff77e64c14023eabd554",
    "mainchain" : {
        "name" : "btm",
        "confirmations" : 1,
        "upstream" : "http://52.82.55.145:9888",
        "sync_seconds" : 150
    },
    "sidechain" : {
        "name" : "vapor",
        "confirmations" : 30,
        "upstream" : "http://52.82.55.145:9889",
        "sync_seconds" : 5
    }
}